.auth {
    background-color: #Ff8c00;
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    padding: 2rem;
    border-radius: .5rem;
    min-width: 32rem;
}

.auth h1 {
    font-size: 2.5rem;
    text-align: center;
    padding-bottom: 2rem;
    border-bottom: 0.1rem solid silver;
}

.auth form {
    margin: 1rem;
}

.auth input {
    width: 100%;
    margin-top: 2rem;
    height: 4rem;
    font-size: 1.4rem;
    border-radius: 10px;
    border: none;
    border-bottom: 0.15rem solid rgb(163, 163, 163);
    padding: 0 0.5rem;
    outline: none;
}

.auth input:hover {
    border-bottom: 0.15rem solid #0086da;
}

.auth input::placeholder {
    color: rgb(163, 163, 163);
}


.auth form p {
    font-size: 1.3rem;
    padding: 3rem .5rem 0 0;
    color: rgb(163, 163, 163);
}

.auth form p:hover {
    color: rgb(80, 80, 80);
    cursor: pointer;
}

.auth button[type="submit"] {
    display: block;
    margin: 2rem auto;
    font-size: 1.6rem;
    width: 90%;
    padding: 0.9rem 0;
    border-radius: 1.7rem;
    border: none;
    background-color: #0086da;
    color: #ffffff;
}

.auth button[type="submit"]:hover {
    cursor: pointer;
}

.auth .login-message {
    text-align: center;
    font-size: 1.3rem;
}

.auth .login-message span {
    color: #007ecc;
    font-weight: 600;
}

.auth .login-message span:hover {
    cursor: pointer;
}