body {
    height: 100vh;
}
.middle {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    padding: 200 700;
}

.load-bar {
    width: 10px;
    height: 70px;
    background: #fff;
    display: inline-block;
    transform-origin: bottom center;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
      box-shadow:5px 10px 20px inset rgba(255,23,25.2);
    animation: loader 1.2s linear infinite;
}

.load-bar1 {
    animation-delay: 0.1s;
}

.load-bar2 {
    animation-delay: 0.2s;
}

.load-bar3 {
    animation-delay: 0.3s;
}

.load-bar4 {
    animation-delay: 0.4s;
}

.load-bar5 {
    animation-delay: 0.5s;
}

.load-bar6 {
    animation-delay: 0.6s;
}

.load-bar7 {
    animation-delay: 0.7s;
}

.load-bar8 {
    animation-delay: 0.8s;
}

@keyframes loader {
    0% {
        transform: scaleY(0.1);
        background: ;
    }

    50% {
        transform: scaleY(1);
        background: yellowgreen;
    }

    100% {
        transform: scaleY(0.1);
        background: transparent;
    }
}