.btns {
    color: white;
    padding: .75rem 2.5rem;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    font-size: 0.9rem;
}


.btn-masterful {
    background-color: #00b7ff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    position: relative;
    overflow: hidden;
}
  
.btn-masterful .icon {
    position: absolute;
    top: 50%;
    left: 8px;
    transform: translateY(-50%);
    font-size: 24px;
}
.btn-masterful .btn-txt{
    padding-left: .5rem;
}
.btn-masterful:hover {
    background-color: #018dc5;
}
  
.btn-masterful:hover .icon {
    animation: rotate 2s linear infinite;
}
  
@keyframes rotate {
    from {transform: translateY(-50%) rotate(0deg);}
    to {transform: translateY(-50%) rotate(360deg);}
}
.attribute{
    position: absolute;
    bottom: 10px;
}