.player {
	background-color: transparent;
	width: 60rem;
	border-radius: 12px;
	box-shadow: 25px 25px 50px #c7cacf, 
             -3px -3px 2px #ffffff31;
}

audio::-webkit-media-controls-panel {
	 background-color: transparent;
}

audio {
	width: 100%;

}

.play-button {
	background: #eaeef3;
	box-shadow: inset 5px 5px 10px #dce0e4, 
            inset -5px -5px 10px #f8fcff;
}