.detailMusic {
  display: flex;
  flex-direction: row;
}



.detailSongsection {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-left: 70px;
}

a{
    text-decoration: none;
}

.musicName {
    margin-top: 50px;
    margin-bottom: 20px;
}

.music-info {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    margin-bottom: 50px;
}

.actions {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.like-btn {
    text-decoration: none;
    padding: 8px 15px;
    border: 1px solid #3498db;
    color: #3498db;
    border-radius: 5px;
    cursor: pointer;
}

.like-btn:hover {
    background-color: #3498db;
    color: #fff;
}

.owner-info {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.owner-info {
    font-size: 18px;
}

.owner-img-name {
    display: flex;
    align-items: center;
}

.owner-img-name img {
    border-radius: 70%;
    margin-right: 10px;
}

.owner-info span {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.comments {
    margin-top: 20px;
}

.comment {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.comment-author {
    font-weight: bold;
    margin-bottom: 5px;
}

.comment-content {
    color: #555;
}


.comment-input {
    margin-top: 20px;
    
}

.comment-input input {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    width: 100%;
}




.commentSection {
  width: 800px;
  margin-right: 150px;
  margin-top: 45px;
  margin-left:-1400px;
}


@mixin reverse-neu {
  box-shadow: inset -5px -5px 15px 0px #ffffff9e,
    inset 5px 5px 15px 0px #a3b1c6a8;
}

body {
  padding: 0;
  margin: 0;
  background: #e0e5ec;
  font-family: "Roboto", sans-serif;
}


.iphone {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 412px;
  height: 612px;
  background: #e0e5ec;
  border-radius: 2em;
  box-sizing: border-box;
  padding: 2em;
  display: flex;
  flex-direction: column;
  .title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 0.75em;
    margin-bottom: 2em;
  }
  .album-cover {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    .album-overlay {
      background: #fff;
      width: 248px;
      height: 248px;
      z-index: 2;
      border-radius: 15px;
      position: absolute;
      opacity: 0.35;
      -webkit-clip-path: ellipse(61% 64% at 82% 56%);
clip-path: ellipse(61% 64% at 82% 56%);
    }
    img {
      width: 100%;
      border-radius: 15px;
    }
    .song-title {
      text-align: center;
      padding-bottom: 0;
      margin-bottom: 0;
      color: darken(#7e8a98, 10%);
    }
    .artist-title {
      text-align: center;
      padding: 1em 0;
      margin: 0;
      font-size: 0.85em;
      color: darken(#7e8a98, 10%);
    }
  }

  .track {
    margin-top: 1em;
    height: 10px;
    div {
      width: 42%;
      height: 100%;
      background: #7e8a98;
      opacity: 0.75;
      border-radius: 15px;
    }
  }

  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1em 0;
  }

  .lyrics {
    color: #7e8a98;
    margin-top: 2em;
    text-align: center;
    font-size: 0.75em;
    display: flex;
    flex-direction: column;
  }
}

.neu {
  box-shadow: -5px -5px 15px 0px #ffffff9e, 5px 5px 15px 0px #a3b1c6a8;
  background: #e0e5ec;
  border-radius: 2em;
  border: 0;
  text-align: center;
  justify-content: center;
}

.btn {
  padding: 15px;
  border-radius: 30px;
  color: #7e8a98;
  outline: none;
  cursor: pointer;
  &.lg {
    font-size: 1em;
  }
  &:active {
    cursor: pointer;
    @include reverse-neu;
  }
}

.red {
  color: #e22d49;
}
