.btnContainer{
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}
.btnContainer:first-child{
    background-color: #4CAF50;
}
.btnContainer:last-child{
    /* background-color: #ec3d22; */
}